<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-for遍历对象</title>
</head>

<body>
  <div id='app'>
    <h2> {{message}} </h2>
    <!-- 1. 在遍历对象的过程中，如果只是获取一个值，那么获取到的是value -->
    <ul>
      <li v-for="item in book1"> {{item}} </li>
    </ul>
    <!-- 2. 获取key和value ，index也可以，但是对象中不常用(value,key,index)  -->
    <ul>
      <li v-for="(value,key) in book1"> {{key}} {{value}} </li>
    </ul>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '四大名著',
        book1: { id: 1, name: '红楼梦', price: 252 },
        book2: { id: 2, name: '水浒传', price: 223 },
        book3: { id: 3, name: '西游记', price: 232 },
        book4: { id: 4, name: '三国演义', price: 242 },

      }
    })
  </script>

</body>

</html>